.venv/
__pycache__/
*.pyc
.git/
.gitignore
.pytest_cache/
.ipynb_checkpoints/
notebooks/
# A décommenter pour le test : docker run --rm pyrenex-risk-api:v0.1.0-test
tests/
data/
docs/
*.md
.env
.env.*
.idea/
.vscode/
.DS_Store
logs/
